
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 01   E N E R O          2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 02    FEBRERO      2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 02    MARZO      2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 04    A B R I L       2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 05   MAYO       2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 06   J U N I O        2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 07   J U L I O        2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 08   AGOSTO         2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 09   SEPTIEMBRE         2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 10   OCTUBRE         2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 11   NOVIEMBRE         2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/BCO---\# 12   DICIEMBRRE          2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/Disco local (C) - Acceso directo.lnk
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  15  2 0 2 3/~$BCO---\# 07   J U L I O        2 0 2 3.xlsx
01 DOCUEMENTOS/B A N C O S -2 0 2 4/BANCOS \#  16  2 0 2 4/BCO---\# 12   E N E R O        2 0 2 4.xlsx
01 DOCUEMENTOS/CENTRAL  ARCHIVO  2 0 2 4/ENTRA     E N E R O         2 0 2 4.xlsx
01 DOCUEMENTOS/CENTRAL  ARCHIVO  2 0 2 4/ENTRADAS   OBRADOR  ENERO  2024.xlsx
01 DOCUEMENTOS/CENTRAL  ARCHIVO  2 0 2 4/I R A N A   2023.xlsx
01 DOCUEMENTOS/CENTRAL  ARCHIVO  2 0 2 4/PAGOS  VECTOR CASA ODELPA  Enero-2024.xlsx
01 DOCUEMENTOS/CENTRAL  ARCHIVO  2 0 2 4/PAGOS A SEABOARD FOODS  ENERO    2024.xlsx
01 DOCUEMENTOS/CENTRAL  ARCHIVO  2 0 2 4/REPORTE  NOTAS CENTRAL  OCT-23.xlsx
01 DOCUEMENTOS/CENTRAL  ARCHIVO  2 0 2 4/REPORTE DE GASTOS COMEDOR 2024.xlsx
01 DOCUEMENTOS/CENTRAL\#16   ARCHIVO   2 0 2 3/ARQUI  REMODEL  11 SUR   2023.xlsx
01 DOCUEMENTOS/CENTRAL\#16   ARCHIVO   2 0 2 3/CENTRAL \#10 OCTUBRE 2023/CREDITOS     ZAVALETA  OCTUBRE      2023.xlsx
01 DOCUEMENTOS/CENTRAL\#16   ARCHIVO   2 0 2 3/CENTRAL \#12 DICIEMBRE 2023/ENTRA     DICIEMBRE       2 0 2 3.xlsx
01 DOCUEMENTOS/CENTRAL\#16   ARCHIVO   2 0 2 3/CENTRAL \#12 DICIEMBRE 2023/ENTRADAS  OBRADOR   DICIEMBRE  2023.xlsx
01 DOCUEMENTOS/CENTRAL\#16   ARCHIVO   2 0 2 3/I R A N A   2023.xlsx
01 DOCUEMENTOS/CENTRAL\#16   ARCHIVO   2 0 2 3/REPORTE  NOTAS CENTRAL  OCT-23.xlsx
01 DOCUEMENTOS/FUMIFACION RUBEN  2022.xlsx
01 DOCUEMENTOS/M E M O R A N DU M    2024.docx
01 DOCUEMENTOS/NOMINA CASA  2024.xlsx
01 DOCUEMENTOS/PAP FISC PRODUCCION  Oct-2023.docx
01 DOCUEMENTOS/PAP FISCAL CENTRAL 2023.docx
01 DOCUEMENTOS/RECIBOS NOMINA 2020.xlsx
Mi personal/Recordatorio.txt
